

.from-container{

    margin:4rem 6rem;
    color:black;
    margin-bottom: 10rem;
}
.from-container form{

    padding-top: 3rem;
    display:flex;
    flex-direction:column;
    width:50%;
    margin: auto;
    

}
.from-container input{
 min-height: 2rem;
 padding:0 1rem;
 margin-bottom: 2rem;
 border-radius: 3rem;
 border:1px solid black;



}
.from-container textarea{
 
    padding:1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    border:1px solid black;
    
   
   
   }

   .from-container button{
    color: rgb(0, 0, 0);
    size:30px;
    background-color: aqua;
    width:20%;
    


    display:flex;
   position: center;
   margin-left: 40%;
   }
@media  screen and (max-width:850px){
    .from-container{

        margin:4rem 6rem;
        color:aqua;
        margin-bottom: 20rem;
    }
    .from-container button{
        color:black;
        size:30px;
        background-color: aqua;
        width:50%;
        
    
    
        display:flex;
       position: center;
       margin-left: 30%;
       }



}